body{
    background-color: rgb(88, 166, 211);
}

#btn1{
    color: rgb(0, 0, 0);
    background-color: rgba(107, 245, 52, 0.671);
    font-weight: bold;

}

#btn2{
    color: rgb(0, 0, 0);
    background-color: rgba(107, 245, 52, 0.671);
    font-weight: bold;
}

#input1, #input2{
    background-color: rgb(207, 204, 204);
    font-family: 'Times New Roman', Times, serif;
}

#paragraph{
    font-size: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

#If-Calculator, #Switch-Calculator{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}